<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avater1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,852},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>bg_avater_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,827},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>bg_broadcast_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,782},{68,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,54}}</string>
                <key>sourceSize</key>
                <string>{68,54}</string>
            </dict>
            <key>bg_countdown_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,570},{70,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,98}}</string>
                <key>sourceSize</key>
                <string>{70,98}</string>
            </dict>
            <key>bg_dialog2_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,319},{122,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,128}}</string>
                <key>sourceSize</key>
                <string>{122,128}</string>
            </dict>
            <key>bg_dialog_content_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,339},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,102}}</string>
                <key>sourceSize</key>
                <string>{104,102}</string>
            </dict>
            <key>bg_dialog_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,97},{96,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{96,100}</string>
            </dict>
            <key>bg_dialog_title_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{424,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,107}}</string>
                <key>sourceSize</key>
                <string>{424,107}</string>
            </dict>
            <key>bg_top_num_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,919},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bg_white_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,74},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>btn_closed_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,916},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>btn_green_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,830},{180,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,86}}</string>
                <key>sourceSize</key>
                <string>{180,86}</string>
            </dict>
            <key>btn_main_bg_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,852},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>btn_orange_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,642},{186,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,86}}</string>
                <key>sourceSize</key>
                <string>{186,86}</string>
            </dict>
            <key>btn_start_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,591},{260,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,259}}</string>
                <key>sourceSize</key>
                <string>{260,259}</string>
            </dict>
            <key>icon_back_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,891},{43,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,36}}</string>
                <key>sourceSize</key>
                <string>{43,36}</string>
            </dict>
            <key>icon_binling_star_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,43},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>icon_closed_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,981},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>icon_help_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,882},{35,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,49}}</string>
                <key>sourceSize</key>
                <string>{35,49}</string>
            </dict>
            <key>icon_home_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,782},{46,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,41}}</string>
                <key>sourceSize</key>
                <string>{46,41}</string>
            </dict>
            <key>icon_message_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,782},{45,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>icon_next_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>icon_retry_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,782},{43,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>icon_star_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,471},{100,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,97}}</string>
                <key>sourceSize</key>
                <string>{100,97}</string>
            </dict>
            <key>icon_talk_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,852},{47,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,37}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>icon_top_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,969},{47,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,38}}</string>
                <key>sourceSize</key>
                <string>{47,38}</string>
            </dict>
            <key>img_cloud_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,91}}</string>
                <key>sourceSize</key>
                <string>{640,91}</string>
            </dict>
            <key>img_game_top_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{577,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{577,222}}</string>
                <key>sourceSize</key>
                <string>{577,222}</string>
            </dict>
            <key>img_log_text_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{304,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,204}}</string>
                <key>sourceSize</key>
                <string>{304,204}</string>
            </dict>
            <key>img_magnifier_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,199},{138,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,88}}</string>
                <key>sourceSize</key>
                <string>{138,88}</string>
            </dict>
            <key>img_people_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,782},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>img_top1_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,937},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>img_top2_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,937},{66,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,82}}</string>
                <key>sourceSize</key>
                <string>{66,82}</string>
            </dict>
            <key>img_top3_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,852},{62,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>img_white_circle_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,319},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>text_back_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,634},{257,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,72}}</string>
                <key>sourceSize</key>
                <string>{257,72}</string>
            </dict>
            <key>text_error_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,517},{265,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,72}}</string>
                <key>sourceSize</key>
                <string>{265,72}</string>
            </dict>
            <key>text_game_help_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,830},{190,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,52}}</string>
                <key>sourceSize</key>
                <string>{190,52}</string>
            </dict>
            <key>text_girl_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,930},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
            <key>text_login_reword_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{158,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,41}}</string>
                <key>sourceSize</key>
                <string>{158,41}</string>
            </dict>
            <key>text_notime_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,443},{261,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,72}}</string>
                <key>sourceSize</key>
                <string>{261,72}</string>
            </dict>
            <key>text_play_now_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,852},{154,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,43}}</string>
                <key>sourceSize</key>
                <string>{154,43}</string>
            </dict>
            <key>text_play_reword_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{210,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,41}}</string>
                <key>sourceSize</key>
                <string>{210,41}</string>
            </dict>
            <key>text_receive_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,428},{103,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,41}}</string>
                <key>sourceSize</key>
                <string>{103,41}</string>
            </dict>
            <key>text_receive_gift_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,852},{154,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,43}}</string>
                <key>sourceSize</key>
                <string>{154,43}</string>
            </dict>
            <key>text_success_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,708},{254,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,72}}</string>
                <key>sourceSize</key>
                <string>{254,72}</string>
            </dict>
            <key>text_top_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,830},{189,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,51}}</string>
                <key>sourceSize</key>
                <string>{189,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_cz.png</string>
            <key>size</key>
            <string>{679,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa0af85a142ab0be0456a237e7c2b039:9b91b4c6e901736ddcb8a748524ec6a2:c7b865ff6b69011bcb2eed4a85e20bcd$</string>
            <key>textureFileName</key>
            <string>game_cz.png</string>
        </dict>
    </dict>
</plist>
