body {
	font-size: 12px;
}
td {
	font-size: 12px;
}
font {
	font-size: 12px;
}
.button-search {
	height: 19px;
	width: 59px;
	border: 0px none #FFFFFF;
}
.input0 {
	font-size: 12px;
	border: 1px solid #CCCCCC;
}
.font14 {
	font-size: 14px;


}
.fonthr-18 {
	color: #666666;
	line-height: 18px;
	text-decoration: none;
}
a:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
.a1:link {

	font-size: 12px;
	color: 0071BD;
	text-decoration: none;
}
.a1:visited {

	font-size: 12px;
	color: 0071BD;
	text-decoration: none;
}
.a1:hover {

	font-size: 12px;
	color: 0071BD;
	text-decoration: underline;
}
.input1 {
	font-size: 12px;
	border: none;
}
.a2:link {
	font-size: 12px;
	color: #045A93;
	text-decoration: none;
}
.a2:visited {
	font-size: 12px;
	color: #045A93;
	text-decoration: none;
}
.a2:hover {
	font-size: 12px;
	color: #FF0000;
}
.font18 {
	font-size: 18px;
	text-decoration: none;
}
.a3:link {
	font-size: 12px;
	color: 397B90;
	text-decoration: none;
}
.a3:visited {
	font-size: 12px;
	color: 397B90;
	text-decoration: none;
}
.a3:hover {
	font-size: 12px;
	color: #0000FF;
	text-decoration: none;
}
.a4:link {
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
}
.a4:visited {
	font-size: 14px;
	color: #FFFFFF;
	text-decoration: none;
}
.a5:link {
	font-size: 12px;
	color: 2E697D;
}
.a5:visited {
	font-size: 12px;
	color: 2E697D;
	text-decoration: none;
}
.a5:hover {
	font-size: 12px;
	color: EF7D31;
	text-decoration: none;
}
.a6:link {
	font-size: 12px;
	color: #999999;
	text-decoration: none;
}
.a6:visited {
	font-size: 12px;
	color: #999999;
	text-decoration: none;
}
.a6:hover {
	font-size: 12px;
	color: FF6521;
	text-decoration: none;
}
.a7:link {
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
}
.a7:visited {
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
}
.a7:hover {
	font-size: 13px;
	color: #FF9900;
	text-decoration: none;
}
.font18-14 {
	font-size: 13px;
	line-height: 20px;
	color: #666666;
}
