<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_alert.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1670},{126,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,136}}</string>
                <key>sourceSize</key>
                <string>{126,136}</string>
            </dict>
            <key>bg_btn_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,918},{213,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,60}}</string>
                <key>sourceSize</key>
                <string>{213,60}</string>
            </dict>
            <key>bg_btn_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1346},{159,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,164}}</string>
                <key>sourceSize</key>
                <string>{159,164}</string>
            </dict>
            <key>bg_game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1984},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>bg_game_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{640,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,135}}</string>
                <key>sourceSize</key>
                <string>{640,135}</string>
            </dict>
            <key>bg_gamehelp_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1851},{47,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,39}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>bg_guanzu.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,404},{76,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,550}}</string>
                <key>sourceSize</key>
                <string>{76,550}</string>
            </dict>
            <key>bg_nonum.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1181},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>bg_playgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,561}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,561}}</string>
                <key>sourceSize</key>
                <string>{640,561}</string>
            </dict>
            <key>bg_sjdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1482},{126,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,102}}</string>
                <key>sourceSize</key>
                <string>{126,102}</string>
            </dict>
            <key>bg_sumlaert.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,863},{97,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,101}}</string>
                <key>sourceSize</key>
                <string>{97,101}</string>
            </dict>
            <key>bg_sumlaert2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,763},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>bg_title_paihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1610},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>icon_bqph.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1755},{118,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,29}}</string>
                <key>sourceSize</key>
                <string>{118,29}</string>
            </dict>
            <key>icon_btn_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1976},{67,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,62}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
            <key>icon_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1875},{76,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,62}}</string>
                <key>sourceSize</key>
                <string>{76,62}</string>
            </dict>
            <key>icon_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1656},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>icon_btn_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1873},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>icon_btn_linqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1537},{239,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,76}}</string>
                <key>sourceSize</key>
                <string>{239,76}</string>
            </dict>
            <key>icon_btn_playgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,702},{208,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,214}}</string>
                <key>sourceSize</key>
                <string>{208,214}</string>
            </dict>
            <key>icon_bzph.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1755},{118,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,27}}</string>
                <key>sourceSize</key>
                <string>{118,27}</string>
            </dict>
            <key>icon_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,914},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>icon_csq.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,956},{75,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,72}}</string>
                <key>sourceSize</key>
                <string>{75,72}</string>
            </dict>
            <key>icon_dfph.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1731},{118,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,27}}</string>
                <key>sourceSize</key>
                <string>{118,27}</string>
            </dict>
            <key>icon_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,956},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>icon_forum.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1953},{71,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,60}}</string>
                <key>sourceSize</key>
                <string>{71,60}</string>
            </dict>
            <key>icon_gamepaihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1511},{225,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,63}}</string>
                <key>sourceSize</key>
                <string>{225,63}</string>
            </dict>
            <key>icon_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1346},{115,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,164}}</string>
                <key>sourceSize</key>
                <string>{115,164}</string>
            </dict>
            <key>icon_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1900},{35,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,60}}</string>
                <key>sourceSize</key>
                <string>{35,60}</string>
            </dict>
            <key>icon_jing.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1033},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>icon_jrph.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1808},{119,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,29}}</string>
                <key>sourceSize</key>
                <string>{119,29}</string>
            </dict>
            <key>icon_jzgd.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1839},{115,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,29}}</string>
                <key>sourceSize</key>
                <string>{115,29}</string>
            </dict>
            <key>icon_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1511},{325,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,225}}</string>
                <key>sourceSize</key>
                <string>{325,225}</string>
            </dict>
            <key>icon_ltph.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1610},{119,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,28}}</string>
                <key>sourceSize</key>
                <string>{119,28}</string>
            </dict>
            <key>icon_no1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1976},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>icon_no2.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1286},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>icon_no3.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1737},{48,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>icon_paihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1952},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>icon_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1778},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>icon_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1137},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>icon_sound_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,1286},{26,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>icon_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,852},{60,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,73}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>icon_suspend.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2002},{35,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,41}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>icon_text_bjdf.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2002},{143,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,37}}</string>
                <key>sourceSize</key>
                <string>{143,37}</string>
            </dict>
            <key>icon_text_zgdf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2002},{152,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,37}}</string>
                <key>sourceSize</key>
                <string>{152,37}</string>
            </dict>
            <key>icon_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1512},{156,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,115}}</string>
                <key>sourceSize</key>
                <string>{156,115}</string>
            </dict>
            <key>icon_title_cgyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1240},{295,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,63}}</string>
                <key>sourceSize</key>
                <string>{295,63}</string>
            </dict>
            <key>icon_title_glyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1512},{243,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,64}}</string>
                <key>sourceSize</key>
                <string>{243,64}</string>
            </dict>
            <key>icon_title_sjdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1512},{241,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,63}}</string>
                <key>sourceSize</key>
                <string>{241,63}</string>
            </dict>
            <key>icon_title_yxbz.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1512},{223,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,63}}</string>
                <key>sourceSize</key>
                <string>{223,63}</string>
            </dict>
            <key>icon_tx_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1870},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1095},{146,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,40}}</string>
                <key>sourceSize</key>
                <string>{146,40}</string>
            </dict>
            <key>icon_zadang.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1742},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>img_hint01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{402,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,267}}</string>
                <key>sourceSize</key>
                <string>{402,267}</string>
            </dict>
            <key>img_hint02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{391,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,269}}</string>
                <key>sourceSize</key>
                <string>{391,269}</string>
            </dict>
            <key>img_hint03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{408,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,267}}</string>
                <key>sourceSize</key>
                <string>{408,267}</string>
            </dict>
            <key>img_hint04.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{400,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,264}}</string>
                <key>sourceSize</key>
                <string>{400,264}</string>
            </dict>
            <key>img_hint04_twoqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1903},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>img_hint05_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1870},{78,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,83}}</string>
                <key>sourceSize</key>
                <string>{78,83}</string>
            </dict>
            <key>img_hint06_jing.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1820},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>img_text_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1796},{70,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,36}}</string>
                <key>sourceSize</key>
                <string>{70,36}</string>
            </dict>
            <key>img_text_hdlb.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1443},{151,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,37}}</string>
                <key>sourceSize</key>
                <string>{151,37}</string>
            </dict>
            <key>img_text_hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,980},{116,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,62}}</string>
                <key>sourceSize</key>
                <string>{116,62}</string>
            </dict>
            <key>img_text_lebi.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,1976},{67,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,35}}</string>
                <key>sourceSize</key>
                <string>{67,35}</string>
            </dict>
            <key>img_text_qrfh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1738},{379,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,135}}</string>
                <key>sourceSize</key>
                <string>{379,135}</string>
            </dict>
            <key>img_text_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1757},{114,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,65}}</string>
                <key>sourceSize</key>
                <string>{114,65}</string>
            </dict>
            <key>img_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1952},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>img_twoqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1953},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>img_yun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,1346},{171,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,95}}</string>
                <key>sourceSize</key>
                <string>{171,95}</string>
            </dict>
            <key>img_yun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1886},{132,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,88}}</string>
                <key>sourceSize</key>
                <string>{132,88}</string>
            </dict>
            <key>img_yun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,966},{127,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,146}}</string>
                <key>sourceSize</key>
                <string>{127,146}</string>
            </dict>
            <key>img_yun04.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1137},{147,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,90}}</string>
                <key>sourceSize</key>
                <string>{147,90}</string>
            </dict>
            <key>img_yun05.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,980},{217,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,116}}</string>
                <key>sourceSize</key>
                <string>{217,116}</string>
            </dict>
            <key>text_hint01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,404},{446,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,86}}</string>
                <key>sourceSize</key>
                <string>{446,86}</string>
            </dict>
            <key>text_hint02.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,404},{357,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,85}}</string>
                <key>sourceSize</key>
                <string>{357,85}</string>
            </dict>
            <key>text_hint03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1875},{357,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,125}}</string>
                <key>sourceSize</key>
                <string>{357,125}</string>
            </dict>
            <key>text_hint04.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1098},{355,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,81}}</string>
                <key>sourceSize</key>
                <string>{355,81}</string>
            </dict>
            <key>text_hint05.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1264},{355,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,80}}</string>
                <key>sourceSize</key>
                <string>{355,80}</string>
            </dict>
            <key>text_hint06.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1181},{355,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,81}}</string>
                <key>sourceSize</key>
                <string>{355,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>popo.png</string>
            <key>size</key>
            <string>{911,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ad7d9847496637c43ec9b1dda7f7945:3833703e529adfd8bac31007341d4c4d:fe5ea5a8914c10ce5ead341fc0746c4b$</string>
            <key>textureFileName</key>
            <string>popo.png</string>
        </dict>
    </dict>
</plist>
