<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_avatar.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,474},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bg_btn_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,962},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>bg_btn_bcur.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,962},{57,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{57,48}</string>
            </dict>
            <key>bg_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,418},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>bg_btn_index.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,610},{90,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{90,96}</string>
            </dict>
            <key>bg_btngreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,641},{90,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,54}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>bg_btnorange.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,556},{90,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,54}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>bg_dailog.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,876},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>bg_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,423},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>bg_pjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,556},{100,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,52}}</string>
                <key>sourceSize</key>
                <string>{100,52}</string>
            </dict>
            <key>bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,793},{74,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,46}}</string>
                <key>sourceSize</key>
                <string>{74,46}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,622},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,360},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>btn_game_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,868},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btn_repaly.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,170},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{166,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,171}}</string>
                <key>sourceSize</key>
                <string>{166,171}</string>
            </dict>
            <key>fnt_bzph.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,798},{105,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,28}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
            <key>fnt_cgyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,196},{195,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,36}}</string>
                <key>sourceSize</key>
                <string>{195,36}</string>
            </dict>
            <key>fnt_dfph.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,791},{113,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,30}}</string>
                <key>sourceSize</key>
                <string>{113,30}</string>
            </dict>
            <key>fnt_gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,423},{392,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,130}}</string>
                <key>sourceSize</key>
                <string>{392,130}</string>
            </dict>
            <key>fnt_grank.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,195},{161,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,41}}</string>
                <key>sourceSize</key>
                <string>{161,41}</string>
            </dict>
            <key>fnt_hyph.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,170},{114,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,30}}</string>
                <key>sourceSize</key>
                <string>{114,30}</string>
            </dict>
            <key>fnt_kaiqilibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,170},{110,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,25}}</string>
                <key>sourceSize</key>
                <string>{110,25}</string>
            </dict>
            <key>fnt_lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,989},{54,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,25}}</string>
                <key>sourceSize</key>
                <string>{54,25}</string>
            </dict>
            <key>fnt_loginyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,369},{159,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,36}}</string>
                <key>sourceSize</key>
                <string>{159,36}</string>
            </dict>
            <key>fnt_mscanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,935},{110,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,25}}</string>
                <key>sourceSize</key>
                <string>{110,25}</string>
            </dict>
            <key>fnt_po.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,555},{210,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,31}}</string>
                <key>sourceSize</key>
                <string>{210,31}</string>
            </dict>
            <key>fnt_qzph.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,791},{113,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,30}}</string>
                <key>sourceSize</key>
                <string>{113,30}</string>
            </dict>
            <key>fnt_timeout.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,555},{393,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,129}}</string>
                <key>sourceSize</key>
                <string>{393,129}</string>
            </dict>
            <key>fnt_todayph.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,791},{106,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,28}}</string>
                <key>sourceSize</key>
                <string>{106,28}</string>
            </dict>
            <key>fnt_wdlibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,675},{114,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,30}}</string>
                <key>sourceSize</key>
                <string>{114,30}</string>
            </dict>
            <key>fnt_wxtishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,622},{161,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,41}}</string>
                <key>sourceSize</key>
                <string>{161,41}</string>
            </dict>
            <key>fnt_wyfdgg.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,196},{396,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,225}}</string>
                <key>sourceSize</key>
                <string>{396,225}</string>
            </dict>
            <key>fnt_yxhelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,393},{161,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,41}}</string>
                <key>sourceSize</key>
                <string>{161,41}</string>
            </dict>
            <key>fnt_yxhuod.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,675},{114,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,30}}</string>
                <key>sourceSize</key>
                <string>{114,30}</string>
            </dict>
            <key>fnt_yxrule.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,675},{114,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,30}}</string>
                <key>sourceSize</key>
                <string>{114,30}</string>
            </dict>
            <key>game_bg_slider_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,555},{223,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,52}}</string>
                <key>sourceSize</key>
                <string>{223,52}</string>
            </dict>
            <key>game_bg_slider_two.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,107},{543,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,87}}</string>
                <key>sourceSize</key>
                <string>{543,87}</string>
            </dict>
            <key>game_btn_zlgy_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,798},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game_btn_zlgy_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,869},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game_fnt_aq.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,869},{59,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,31}}</string>
                <key>sourceSize</key>
                <string>{59,31}</string>
            </dict>
            <key>game_fnt_cjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,555},{319,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,117}}</string>
                <key>sourceSize</key>
                <string>{319,117}</string>
            </dict>
            <key>game_icon_mi.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,989},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>game_image_crazy.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,516},{130,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,38}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>game_image_crazyb.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,474},{132,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,40}}</string>
                <key>sourceSize</key>
                <string>{132,40}</string>
            </dict>
            <key>game_image_game_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,708},{99,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,83}}</string>
                <key>sourceSize</key>
                <string>{99,83}</string>
            </dict>
            <key>game_image_game_bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,107},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>game_image_game_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{640,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,103}}</string>
                <key>sourceSize</key>
                <string>{640,103}</string>
            </dict>
            <key>game_image_game_co.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,556},{99,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,83}}</string>
                <key>sourceSize</key>
                <string>{99,83}</string>
            </dict>
            <key>game_image_game_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,697},{99,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,83}}</string>
                <key>sourceSize</key>
                <string>{99,83}</string>
            </dict>
            <key>game_image_game_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,858},{102,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,87}}</string>
                <key>sourceSize</key>
                <string>{102,87}</string>
            </dict>
            <key>game_image_ljfour.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,780},{93,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,112}}</string>
                <key>sourceSize</key>
                <string>{93,112}</string>
            </dict>
            <key>game_image_ljthr.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,744},{93,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,112}}</string>
                <key>sourceSize</key>
                <string>{93,112}</string>
            </dict>
            <key>game_image_ljtwo.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,875},{93,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,112}}</string>
                <key>sourceSize</key>
                <string>{93,112}</string>
            </dict>
            <key>game_image_person_dh.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,360},{76,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,112}}</string>
                <key>sourceSize</key>
                <string>{76,112}</string>
            </dict>
            <key>game_image_tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,960}}</string>
                <key>sourceSize</key>
                <string>{49,960}</string>
            </dict>
            <key>game_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,962},{60,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,131}}</string>
                <key>sourceSize</key>
                <string>{60,131}</string>
            </dict>
            <key>game_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,360},{76,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,112}}</string>
                <key>sourceSize</key>
                <string>{76,112}</string>
            </dict>
            <key>game_slider_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,555},{457,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{457,45}}</string>
                <key>sourceSize</key>
                <string>{457,45}</string>
            </dict>
            <key>game_slider_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,950},{73,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,72}}</string>
                <key>sourceSize</key>
                <string>{73,72}</string>
            </dict>
            <key>game_slider_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,195},{172,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,31}}</string>
                <key>sourceSize</key>
                <string>{172,31}</string>
            </dict>
            <key>icon_ball_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,955},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_ball_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,906},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_ball_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,958},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_ball_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,906},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_btn_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,515},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>icon_btn_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,958},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>icon_btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,516},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>icon_btn_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,472},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>icon_btn_ts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{49,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,39}}</string>
                <key>sourceSize</key>
                <string>{49,39}</string>
            </dict>
            <key>icon_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,459},{149,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,161}}</string>
                <key>sourceSize</key>
                <string>{149,161}</string>
            </dict>
            <key>icon_first.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,612},{61,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>icon_second.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,950},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>icon_third.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,905},{48,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>image_bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,793},{73,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,93}}</string>
                <key>sourceSize</key>
                <string>{73,93}</string>
            </dict>
            <key>image_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,196},{261,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,144}}</string>
                <key>sourceSize</key>
                <string>{261,144}</string>
            </dict>
            <key>image_person.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,292},{66,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,143}}</string>
                <key>sourceSize</key>
                <string>{66,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plist.png</string>
            <key>size</key>
            <string>{893,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94b59f2b92b469953117216dcce244cd:f9286a164c8a47234ffc61af16f653d3:8ac3f55859b6b7d0dd259f8ddef3b133$</string>
            <key>textureFileName</key>
            <string>Plist.png</string>
        </dict>
    </dict>
</plist>
