<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,867},{120,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,38}}</string>
                <key>sourceSize</key>
                <string>{120,38}</string>
            </dict>
            <key>btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,989},{98,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,33}}</string>
                <key>sourceSize</key>
                <string>{98,33}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,774},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>btn_forum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,774},{99,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,30}}</string>
                <key>sourceSize</key>
                <string>{99,30}</string>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,890},{93,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,34}}</string>
                <key>sourceSize</key>
                <string>{93,34}</string>
            </dict>
            <key>btn_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,803},{62,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,85}}</string>
                <key>sourceSize</key>
                <string>{62,85}</string>
            </dict>
            <key>btn_prize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,930},{85,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,42}}</string>
                <key>sourceSize</key>
                <string>{85,42}</string>
            </dict>
            <key>btn_prize_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,327},{177,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,91}}</string>
                <key>sourceSize</key>
                <string>{177,91}</string>
            </dict>
            <key>btn_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,909},{97,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,30}}</string>
                <key>sourceSize</key>
                <string>{97,30}</string>
            </dict>
            <key>btn_soundclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,909},{82,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,34}}</string>
                <key>sourceSize</key>
                <string>{82,34}</string>
            </dict>
            <key>btn_soundopen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,926},{82,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,37}}</string>
                <key>sourceSize</key>
                <string>{82,37}</string>
            </dict>
            <key>icon_arrows.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,913},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>icon_article.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{47,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,283}}</string>
                <key>sourceSize</key>
                <string>{47,283}</string>
            </dict>
            <key>icon_article_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,332},{66,821}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,821}}</string>
                <key>sourceSize</key>
                <string>{66,821}</string>
            </dict>
            <key>icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,956},{46,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,33}}</string>
                <key>sourceSize</key>
                <string>{46,33}</string>
            </dict>
            <key>icon_block.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,792},{194,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,96}}</string>
                <key>sourceSize</key>
                <string>{194,96}</string>
            </dict>
            <key>icon_block03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,420},{194,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,96}}</string>
                <key>sourceSize</key>
                <string>{194,96}</string>
            </dict>
            <key>icon_block04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,615},{193,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,96}}</string>
                <key>sourceSize</key>
                <string>{193,96}</string>
            </dict>
            <key>icon_block05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,616},{96,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,193}}</string>
                <key>sourceSize</key>
                <string>{96,193}</string>
            </dict>
            <key>icon_block06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,420},{96,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,193}}</string>
                <key>sourceSize</key>
                <string>{96,193}</string>
            </dict>
            <key>icon_block07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,811},{193,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,96}}</string>
                <key>sourceSize</key>
                <string>{193,96}</string>
            </dict>
            <key>icon_block_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,498},{96,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,194}}</string>
                <key>sourceSize</key>
                <string>{96,194}</string>
            </dict>
            <key>icon_blocks.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,400},{292,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,96}}</string>
                <key>sourceSize</key>
                <string>{292,96}</string>
            </dict>
            <key>icon_blocks01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,498},{292,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,96}}</string>
                <key>sourceSize</key>
                <string>{292,96}</string>
            </dict>
            <key>icon_blocks02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,694},{96,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,194}}</string>
                <key>sourceSize</key>
                <string>{96,194}</string>
            </dict>
            <key>icon_blocks_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,509},{96,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,292}}</string>
                <key>sourceSize</key>
                <string>{96,292}</string>
            </dict>
            <key>icon_blocks_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,498},{96,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,292}}</string>
                <key>sourceSize</key>
                <string>{96,292}</string>
            </dict>
            <key>icon_bluetime.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,251},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>icon_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,882},{140,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,159}}</string>
                <key>sourceSize</key>
                <string>{140,159}</string>
            </dict>
            <key>icon_champion.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,974},{48,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,67}}</string>
                <key>sourceSize</key>
                <string>{48,67}</string>
            </dict>
            <key>icon_game_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,984},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>icon_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,138},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>icon_home_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>icon_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,251},{312,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,74}}</string>
                <key>sourceSize</key>
                <string>{312,74}</string>
            </dict>
            <key>icon_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,945},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>icon_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,982},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>icon_petal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,2},{389,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,59}}</string>
                <key>sourceSize</key>
                <string>{389,59}</string>
            </dict>
            <key>icon_photo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,941},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>icon_rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,996},{21,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,56}}</string>
                <key>sourceSize</key>
                <string>{21,56}</string>
            </dict>
            <key>icon_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,890},{58,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,33}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>icon_second.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,974},{48,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,65}}</string>
                <key>sourceSize</key>
                <string>{48,65}</string>
            </dict>
            <key>icon_shrink.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,875},{25,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,123}}</string>
                <key>sourceSize</key>
                <string>{25,123}</string>
            </dict>
            <key>icon_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,871},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>icon_star_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,882},{141,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,134}}</string>
                <key>sourceSize</key>
                <string>{141,134}</string>
            </dict>
            <key>icon_star_petal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,138},{365,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,111}}</string>
                <key>sourceSize</key>
                <string>{365,111}</string>
            </dict>
            <key>icon_third.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,810},{44,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>icon_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,509},{319,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,208}}</string>
                <key>sourceSize</key>
                <string>{319,208}</string>
            </dict>
            <key>icon_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,509},{263,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,107}}</string>
                <key>sourceSize</key>
                <string>{263,107}</string>
            </dict>
            <key>icon_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{420,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,134}}</string>
                <key>sourceSize</key>
                <string>{420,134}</string>
            </dict>
            <key>icon_title_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1014},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>icon_title_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,913},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>icon_trumpet.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,719},{257,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,161}}</string>
                <key>sourceSize</key>
                <string>{257,161}</string>
            </dict>
            <key>icon_walk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,945},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>icon_windows_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{578,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,328}}</string>
                <key>sourceSize</key>
                <string>{578,328}</string>
            </dict>
            <key>icon_yolk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,944},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>img_game_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,303},{98,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,22}}</string>
                <key>sourceSize</key>
                <string>{98,22}</string>
            </dict>
            <key>text_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,930},{85,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,42}}</string>
                <key>sourceSize</key>
                <string>{85,42}</string>
            </dict>
            <key>text_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,393},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>text_backhome.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,138},{163,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,39}}</string>
                <key>sourceSize</key>
                <string>{163,39}</string>
            </dict>
            <key>text_bs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,732},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,29}}</string>
                <key>sourceSize</key>
                <string>{60,29}</string>
            </dict>
            <key>text_challenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,719},{148,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,40}}</string>
                <key>sourceSize</key>
                <string>{148,40}</string>
            </dict>
            <key>text_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,479},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>text_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,982},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>text_game_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,964},{167,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,30}}</string>
                <key>sourceSize</key>
                <string>{167,30}</string>
            </dict>
            <key>text_game_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,890},{165,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,38}}</string>
                <key>sourceSize</key>
                <string>{165,38}</string>
            </dict>
            <key>text_game_ranging.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,565},{165,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,39}}</string>
                <key>sourceSize</key>
                <string>{165,39}</string>
            </dict>
            <key>text_game_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,400},{519,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,107}}</string>
                <key>sourceSize</key>
                <string>{519,107}</string>
            </dict>
            <key>text_gk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,925},{58,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,29}}</string>
                <key>sourceSize</key>
                <string>{58,29}</string>
            </dict>
            <key>text_jr.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,964},{182,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,29}}</string>
                <key>sourceSize</key>
                <string>{182,29}</string>
            </dict>
            <key>text_lel.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,995},{126,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,27}}</string>
                <key>sourceSize</key>
                <string>{126,27}</string>
            </dict>
            <key>text_reset.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,930},{84,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,42}}</string>
                <key>sourceSize</key>
                <string>{84,42}</string>
            </dict>
            <key>text_teach.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,871},{148,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,39}}</string>
                <key>sourceSize</key>
                <string>{148,39}</string>
            </dict>
            <key>text_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,875},{136,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,39}}</string>
                <key>sourceSize</key>
                <string>{136,39}</string>
            </dict>
            <key>text_tongguanla.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,871},{137,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,39}}</string>
                <key>sourceSize</key>
                <string>{137,39}</string>
            </dict>
            <key>text_xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,965},{59,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,29}}</string>
                <key>sourceSize</key>
                <string>{59,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fangkuai.png</string>
            <key>size</key>
            <string>{1707,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01b0618806809958ee7d22845e55e24b:af227cc45936e5ff310e3bd9e34bbe02:92ddeff4395ec302367da2c1ebf1a694$</string>
            <key>textureFileName</key>
            <string>fangkuai.png</string>
        </dict>
    </dict>
</plist>
