/* Foreground colors */
.ThmFgColumnHeader, A.FrameLink, A.HeaderLink, A.FooterLink, A.LgtCmd, A.MSNLink {color:#FFFFFF;}
.ThmFgTitleLightBk {color:#FF6600;}
.ThmFgSmallLight {color:#ff0000;}
.ThmFgNavLink, A.NavLink, A.ChildLink:hover {color:#666699;}
.ThmFgInactiveText, A.SystemLink {color: #666666;}
.ThmFgFrameTitle {color: #FFFFCC;}
.ThmFgTitleDarkBk, A.NavLink:hover, A.TitleLink {color: #CC6600;}
.ThmFgMiscText, A.Cat, A.SubCat {color: #336699;}
.ThmFgCommand, A.Command, A.LargeCommand, A.MsgLink {color: #003366;}
.ThmFgHeader {color: #333333;}
.ThmFgStandard, A.SystemLink:hover, A.SubLink, A.ChildLink, A.StdLink, SELECT.Standard {color: #000000;}
.ThmFgDivider {color: #CCCCCC;} /* primarily for HR tags */

/* Background colors */
.ThmBgStandard {background-color: #FFFFFF;}
.ThmBgUnknown1 {background-color: #FF6600;}
.ThmBgFraming {background-color: #666699;}
.ThmBgUnknown2 {background-color: #666666;}
.ThmBgHighlightDark {background-color: #FFFFCC;}
.ThmBgHighlightLight, #idToolbar, #tbContents {background-color: #FFFFE8;}
.ThmBgTitleDarkBk {background-color: #F1F1F1;}
.ThmBgAlternate {background-color: #ECF1F6;}
.ThmBgUnknown3 {background-color: #CCCCFF;}
.ThmBgDivider {background-color: #CCCCCC;}
.ThmBgHeader {background-color: #9999CC;}
.ThmBgLinks {background-color: #8696C9;}
.ThmBgSharkBar {background-color: #8696C9;}
.ThmBgGlobalNick {background-color: #9394A9;}

/* Calendar styles */
.calfgndcolor   {color:#E00505;}
.calbgndcolor   {color:#E00505;}
