<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1729},{148,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,67}}</string>
                <key>sourceSize</key>
                <string>{148,67}</string>
            </dict>
            <key>btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,639},{239,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,76}}</string>
                <key>sourceSize</key>
                <string>{239,76}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,1770},{76,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,81}}</string>
                <key>sourceSize</key>
                <string>{76,81}</string>
            </dict>
            <key>game_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{642,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,271}}</string>
                <key>sourceSize</key>
                <string>{642,271}</string>
            </dict>
            <key>game_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1187},{211,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,251}}</string>
                <key>sourceSize</key>
                <string>{211,251}</string>
            </dict>
            <key>game_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,275},{212,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,362}}</string>
                <key>sourceSize</key>
                <string>{212,362}</string>
            </dict>
            <key>game_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1144},{211,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,215}}</string>
                <key>sourceSize</key>
                <string>{211,215}</string>
            </dict>
            <key>game_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1157},{211,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,225}}</string>
                <key>sourceSize</key>
                <string>{211,225}</string>
            </dict>
            <key>game_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,920},{211,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,235}}</string>
                <key>sourceSize</key>
                <string>{211,235}</string>
            </dict>
            <key>game_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,920},{211,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,222}}</string>
                <key>sourceSize</key>
                <string>{211,222}</string>
            </dict>
            <key>game_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1400},{211,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,215}}</string>
                <key>sourceSize</key>
                <string>{211,215}</string>
            </dict>
            <key>game_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1617},{210,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,210}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>game_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1501},{423,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,208}}</string>
                <key>sourceSize</key>
                <string>{423,208}</string>
            </dict>
            <key>game_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1384},{211,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,213}}</string>
                <key>sourceSize</key>
                <string>{211,213}</string>
            </dict>
            <key>game_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,859},{640,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,345}}</string>
                <key>sourceSize</key>
                <string>{640,345}</string>
            </dict>
            <key>game_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1361},{213,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,206}}</string>
                <key>sourceSize</key>
                <string>{213,206}</string>
            </dict>
            <key>game_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1829},{211,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,204}}</string>
                <key>sourceSize</key>
                <string>{211,204}</string>
            </dict>
            <key>game_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1617},{210,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,204}}</string>
                <key>sourceSize</key>
                <string>{210,204}</string>
            </dict>
            <key>game_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1829},{210,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,207}}</string>
                <key>sourceSize</key>
                <string>{210,207}</string>
            </dict>
            <key>game_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1576},{151,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,75}}</string>
                <key>sourceSize</key>
                <string>{151,75}</string>
            </dict>
            <key>game_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,717},{257,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,97}}</string>
                <key>sourceSize</key>
                <string>{257,97}</string>
            </dict>
            <key>game_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1926},{113,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,101}}</string>
                <key>sourceSize</key>
                <string>{113,101}</string>
            </dict>
            <key>game_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,816},{211,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,189}}</string>
                <key>sourceSize</key>
                <string>{211,189}</string>
            </dict>
            <key>game_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1285},{210,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,188}}</string>
                <key>sourceSize</key>
                <string>{210,188}</string>
            </dict>
            <key>game_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1072},{211,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,188}}</string>
                <key>sourceSize</key>
                <string>{211,188}</string>
            </dict>
            <key>game_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1213,1627},{129,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,67}}</string>
                <key>sourceSize</key>
                <string>{129,67}</string>
            </dict>
            <key>icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1971},{81,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,67}}</string>
                <key>sourceSize</key>
                <string>{81,67}</string>
            </dict>
            <key>icon_book.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1853},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>icon_btnbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1627},{141,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,147}}</string>
                <key>sourceSize</key>
                <string>{141,147}</string>
            </dict>
            <key>icon_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1992},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>icon_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,1758},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>icon_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,831},{349,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,87}}</string>
                <key>sourceSize</key>
                <string>{349,87}</string>
            </dict>
            <key>icon_cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1829},{270,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,95}}</string>
                <key>sourceSize</key>
                <string>{270,95}</string>
            </dict>
            <key>icon_forum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1926},{64,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,54}</string>
            </dict>
            <key>icon_greenbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,321},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>icon_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1460},{33,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,54}}</string>
                <key>sourceSize</key>
                <string>{33,54}</string>
            </dict>
            <key>icon_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1402},{97,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,77}}</string>
                <key>sourceSize</key>
                <string>{97,77}</string>
            </dict>
            <key>icon_homebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{639,855}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,855}}</string>
                <key>sourceSize</key>
                <string>{639,855}</string>
            </dict>
            <key>icon_knight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1371},{64,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,87}}</string>
                <key>sourceSize</key>
                <string>{64,87}</string>
            </dict>
            <key>icon_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,275},{426,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,394}}</string>
                <key>sourceSize</key>
                <string>{426,394}</string>
            </dict>
            <key>icon_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,1936},{71,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,65}}</string>
                <key>sourceSize</key>
                <string>{71,65}</string>
            </dict>
            <key>icon_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1879},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>icon_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,859},{541,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,44}}</string>
                <key>sourceSize</key>
                <string>{541,44}</string>
            </dict>
            <key>icon_pic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,1844},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_pic2.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1576},{29,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,21}}</string>
                <key>sourceSize</key>
                <string>{29,21}</string>
            </dict>
            <key>icon_pic3.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,859},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>icon_pic4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,1460},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>icon_pic5.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,859},{326,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,226}}</string>
                <key>sourceSize</key>
                <string>{326,226}</string>
            </dict>
            <key>icon_pic6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1926},{120,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,333}}</string>
                <key>sourceSize</key>
                <string>{120,333}</string>
            </dict>
            <key>icon_pic7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1501},{326,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,226}}</string>
                <key>sourceSize</key>
                <string>{326,226}</string>
            </dict>
            <key>icon_princess.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1770},{71,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,111}}</string>
                <key>sourceSize</key>
                <string>{71,111}</string>
            </dict>
            <key>icon_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1936},{66,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,54}}</string>
                <key>sourceSize</key>
                <string>{66,54}</string>
            </dict>
            <key>icon_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,2},{56,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>icon_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1686},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>icon_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,1475},{13,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,12}</string>
            </dict>
            <key>icon_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1926},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>icon_walk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,275},{44,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,47}}</string>
                <key>sourceSize</key>
                <string>{44,47}</string>
            </dict>
            <key>icon_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1891},{91,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1983},{57,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,67}}</string>
                <key>sourceSize</key>
                <string>{57,67}</string>
            </dict>
            <key>num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,831},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,64}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1627},{48,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,982},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>text_cgyjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1576},{296,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,63}}</string>
                <key>sourceSize</key>
                <string>{296,63}</string>
            </dict>
            <key>text_dlyjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1072},{297,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,64}}</string>
                <key>sourceSize</key>
                <string>{297,64}</string>
            </dict>
            <key>text_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1843},{105,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,46}}</string>
                <key>sourceSize</key>
                <string>{105,46}</string>
            </dict>
            <key>text_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,1007},{223,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,63}}</string>
                <key>sourceSize</key>
                <string>{223,63}</string>
            </dict>
            <key>text_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1874},{162,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,46}}</string>
                <key>sourceSize</key>
                <string>{162,46}</string>
            </dict>
            <key>text_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,1072},{61,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,23}}</string>
                <key>sourceSize</key>
                <string>{61,23}</string>
            </dict>
            <key>text_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,816},{164,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,46}}</string>
                <key>sourceSize</key>
                <string>{164,46}</string>
            </dict>
            <key>text_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1599},{222,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,62}}</string>
                <key>sourceSize</key>
                <string>{222,62}</string>
            </dict>
            <key>text_second.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,1157},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>text_study.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,671},{398,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,158}}</string>
                <key>sourceSize</key>
                <string>{398,158}</string>
            </dict>
            <key>text_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1497},{232,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,63}}</string>
                <key>sourceSize</key>
                <string>{232,63}</string>
            </dict>
            <key>text_yxpm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1562},{225,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,63}}</string>
                <key>sourceSize</key>
                <string>{225,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>picture.png</string>
            <key>size</key>
            <string>{1334,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dae90b4195f94412a6490523a1f09701:3aa1615128095125d4a29442889e5ce5:9a277362ecd4b393697637997bec2b38$</string>
            <key>textureFileName</key>
            <string>picture.png</string>
        </dict>
    </dict>
</plist>
