<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1748},{174,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,138}}</string>
                <key>sourceSize</key>
                <string>{174,138}</string>
            </dict>
            <key>btn_bgs.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,817},{196,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,87}}</string>
                <key>sourceSize</key>
                <string>{196,87}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1953},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>btn_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,476},{103,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>icon_articlebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1183},{187,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,169}}</string>
                <key>sourceSize</key>
                <string>{187,169}</string>
            </dict>
            <key>icon_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,817},{364,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,25}}</string>
                <key>sourceSize</key>
                <string>{364,25}</string>
            </dict>
            <key>icon_barbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1120},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>icon_first.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1836},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>icon_h01.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,762},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>icon_h02.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1888},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>icon_h03.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1897},{69,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,54}}</string>
                <key>sourceSize</key>
                <string>{69,54}</string>
            </dict>
            <key>icon_h04.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1780},{171,81}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{171,81}}</string>
                <key>sourceSize</key>
                <string>{171,93}</string>
            </dict>
            <key>icon_h06.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,369},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>icon_h_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>icon_h_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1904},{139,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,69}}</string>
                <key>sourceSize</key>
                <string>{139,69}</string>
            </dict>
            <key>icon_photo.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,1101},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>icon_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1782},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>icon_redbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1734},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>icon_second.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1870},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>icon_star_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1429},{141,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,134}}</string>
                <key>sourceSize</key>
                <string>{141,134}</string>
            </dict>
            <key>icon_star_petal.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{365,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,111}}</string>
                <key>sourceSize</key>
                <string>{365,111}</string>
            </dict>
            <key>icon_third.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1904},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>icon_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1015},{86,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{86,84}</string>
            </dict>
            <key>icon_topbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1552},{491,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,126}}</string>
                <key>sourceSize</key>
                <string>{491,126}</string>
            </dict>
            <key>icon_topbgs.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1552},{491,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,126}}</string>
                <key>sourceSize</key>
                <string>{491,126}</string>
            </dict>
            <key>icon_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1863},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>text_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1775},{127,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,32}}</string>
                <key>sourceSize</key>
                <string>{127,32}</string>
            </dict>
            <key>text_backhome.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1626},{217,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,60}}</string>
                <key>sourceSize</key>
                <string>{217,60}</string>
            </dict>
            <key>text_backhomes.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1863},{126,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,32}}</string>
                <key>sourceSize</key>
                <string>{126,32}</string>
            </dict>
            <key>text_chitchat.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,581},{103,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,58}}</string>
                <key>sourceSize</key>
                <string>{103,58}</string>
            </dict>
            <key>text_error.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1565},{218,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,59}}</string>
                <key>sourceSize</key>
                <string>{218,59}</string>
            </dict>
            <key>text_forum.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,641},{102,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,58}}</string>
                <key>sourceSize</key>
                <string>{102,58}</string>
            </dict>
            <key>text_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1565},{452,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,38}}</string>
                <key>sourceSize</key>
                <string>{452,38}</string>
            </dict>
            <key>text_game_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1613},{241,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,59}}</string>
                <key>sourceSize</key>
                <string>{241,59}</string>
            </dict>
            <key>text_game_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1552},{242,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,59}}</string>
                <key>sourceSize</key>
                <string>{242,59}</string>
            </dict>
            <key>text_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1748},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>text_gogame.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1904},{126,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,32}}</string>
                <key>sourceSize</key>
                <string>{126,32}</string>
            </dict>
            <key>text_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,762},{90,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,53}}</string>
                <key>sourceSize</key>
                <string>{90,53}</string>
            </dict>
            <key>text_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1904},{126,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,32}}</string>
                <key>sourceSize</key>
                <string>{126,32}</string>
            </dict>
            <key>text_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,964},{154,51}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{154,51}}</string>
                <key>sourceSize</key>
                <string>{154,67}</string>
            </dict>
            <key>text_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1904},{126,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,32}}</string>
                <key>sourceSize</key>
                <string>{126,32}</string>
            </dict>
            <key>text_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1372},{168,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,55}}</string>
                <key>sourceSize</key>
                <string>{168,55}</string>
            </dict>
            <key>text_ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,701},{101,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,59}}</string>
                <key>sourceSize</key>
                <string>{101,59}</string>
            </dict>
            <key>text_start_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1734},{175,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,44}}</string>
                <key>sourceSize</key>
                <string>{175,44}</string>
            </dict>
            <key>text_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,1688},{216,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,58}}</string>
                <key>sourceSize</key>
                <string>{216,58}</string>
            </dict>
            <key>text_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1674},{217,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,58}}</string>
                <key>sourceSize</key>
                <string>{217,58}</string>
            </dict>
            <key>text_ybh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{587,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,586}}</string>
                <key>sourceSize</key>
                <string>{587,586}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yibihua.png</string>
            <key>size</key>
            <string>{762,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb83efb84c4106bfdbc28518ff3dd46c:747c8283319b460f062f0bcc69a55592:bd50591f835db233ee7ad66ee4fa82cd$</string>
            <key>textureFileName</key>
            <string>yibihua.png</string>
        </dict>
    </dict>
</plist>
