<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_dialog_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,788},{87,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,78}}</string>
                <key>sourceSize</key>
                <string>{87,78}</string>
            </dict>
            <key>bg_dialog_title_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,611},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>bg_game_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,967},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>bg_guan_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,919},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>btn_bottom_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,525},{103,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,65}}</string>
                <key>sourceSize</key>
                <string>{103,65}</string>
            </dict>
            <key>btn_closed_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,919},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>btn_dialog_brown_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,456},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>btn_dialog_green_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,387},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>btn_orange_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,300},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>btn_paly_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,300},{274,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,100}}</string>
                <key>sourceSize</key>
                <string>{274,100}</string>
            </dict>
            <key>icon_back_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,976},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,28}}</string>
                <key>sourceSize</key>
                <string>{40,28}</string>
            </dict>
            <key>icon_home_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,976},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>icon_top1_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,933},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>icon_top2_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,933},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>icon_top3_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,933},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>img_avater_mask_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,952},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>img_bottom_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,296}}</string>
                <key>sourceSize</key>
                <string>{640,296}</string>
            </dict>
            <key>img_btn_light_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1007},{90,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,9}}</string>
                <key>sourceSize</key>
                <string>{90,9}</string>
            </dict>
            <key>img_coffee_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,690},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>img_dialog_line_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,387},{13,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,191}}</string>
                <key>sourceSize</key>
                <string>{13,191}</string>
            </dict>
            <key>img_house_dialoge1_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,802},{129,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,98}}</string>
                <key>sourceSize</key>
                <string>{129,98}</string>
            </dict>
            <key>img_house_dialoge2_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,611},{109,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,77}}</string>
                <key>sourceSize</key>
                <string>{109,77}</string>
            </dict>
            <key>img_house_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,935},{75,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,54}}</string>
                <key>sourceSize</key>
                <string>{75,54}</string>
            </dict>
            <key>img_light_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{530,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,189}}</string>
                <key>sourceSize</key>
                <string>{530,189}</string>
            </dict>
            <key>img_logo_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{452,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,285}}</string>
                <key>sourceSize</key>
                <string>{452,285}</string>
            </dict>
            <key>img_logo_top_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{355,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,131}}</string>
                <key>sourceSize</key>
                <string>{355,131}</string>
            </dict>
            <key>img_people_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,877},{40,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,65}}</string>
                <key>sourceSize</key>
                <string>{40,65}</string>
            </dict>
            <key>img_rick_line_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,935},{10,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,1}}</string>
                <key>sourceSize</key>
                <string>{10,1}</string>
            </dict>
            <key>img_star_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,630},{106,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,102}}</string>
                <key>sourceSize</key>
                <string>{106,102}</string>
            </dict>
            <key>img_wall_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,802},{169,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,148}}</string>
                <key>sourceSize</key>
                <string>{169,148}</string>
            </dict>
            <key>img_wall_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{640,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,22}}</string>
                <key>sourceSize</key>
                <string>{640,22}</string>
            </dict>
            <key>img_wall_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{133,607}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,607}}</string>
                <key>sourceSize</key>
                <string>{133,607}</string>
            </dict>
            <key>text_back_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,738},{108,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,31}}</string>
                <key>sourceSize</key>
                <string>{108,31}</string>
            </dict>
            <key>text_continue_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,802},{117,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,33}}</string>
                <key>sourceSize</key>
                <string>{117,33}</string>
            </dict>
            <key>text_jion_now_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,987},{102,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,29}}</string>
                <key>sourceSize</key>
                <string>{102,29}</string>
            </dict>
            <key>text_lingqu_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,690},{61,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,33}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
            <key>text_open_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,987},{101,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,29}}</string>
                <key>sourceSize</key>
                <string>{101,29}</string>
            </dict>
            <key>text_replay_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,952},{117,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,33}}</string>
                <key>sourceSize</key>
                <string>{117,33}</string>
            </dict>
            <key>text_success_mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,935},{275,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,70}}</string>
                <key>sourceSize</key>
                <string>{275,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_mg.png</string>
            <key>size</key>
            <string>{779,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be1078a4c9970be7dec2745ed5ecac2b:40005e9b8f6424749efcda80b026649a:9d88b87ff34c1ece9d7f22feb79a0a7d$</string>
            <key>textureFileName</key>
            <string>game_mg.png</string>
        </dict>
    </dict>
</plist>
