<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_alert.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{260,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,170}}</string>
                <key>sourceSize</key>
                <string>{260,170}</string>
            </dict>
            <key>bg_alert_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{357,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,88}}</string>
                <key>sourceSize</key>
                <string>{357,88}</string>
            </dict>
            <key>bg_btn_grren.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,379},{136,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>bg_gametitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,976},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>bg_guanzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,893},{46,277}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{46,277}}</string>
                <key>sourceSize</key>
                <string>{52,289}</string>
            </dict>
            <key>bg_index.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,673}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,673}}</string>
                <key>sourceSize</key>
                <string>{640,673}</string>
            </dict>
            <key>bg_index_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,521},{89,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,92}}</string>
                <key>sourceSize</key>
                <string>{89,92}</string>
            </dict>
            <key>bg_mypaihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,625},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>bg_play_yun.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,90}}</string>
                <key>sourceSize</key>
                <string>{640,90}</string>
            </dict>
            <key>bg_playgaming_bootom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{640,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,96}}</string>
                <key>sourceSize</key>
                <string>{640,96}</string>
            </dict>
            <key>bg_shazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,990},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>icon_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,379},{136,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,140}}</string>
                <key>sourceSize</key>
                <string>{136,140}</string>
            </dict>
            <key>icon_alert_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,801},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>icon_ba.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,916},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,32}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>icon_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,941},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>icon_box_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,846},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_box_fenshe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,898},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_box_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,916},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_box_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,950},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_box_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,950},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_box_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,941},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>icon_btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,801},{46,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>icon_btn_forum.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,855},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>icon_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,759},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
            <key>icon_btn_paihan.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,968},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>icon_four_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,976},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>icon_gameshuazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,589},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{34,55}</string>
            </dict>
            <key>icon_gametime.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,759},{40,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,53}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>icon_green_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,855},{83,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,66}}</string>
                <key>sourceSize</key>
                <string>{83,66}</string>
            </dict>
            <key>icon_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,946},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>icon_linqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,361},{226,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,66}}</string>
                <key>sourceSize</key>
                <string>{226,66}</string>
            </dict>
            <key>icon_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,775},{418,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,116}}</string>
                <key>sourceSize</key>
                <string>{418,116}</string>
            </dict>
            <key>icon_miao.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,941},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,32}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>icon_num_one.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,615},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>icon_num_three.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,663},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>icon_num_two.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,711},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>icon_playgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,174},{203,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,209}}</string>
                <key>sourceSize</key>
                <string>{203,209}</string>
            </dict>
            <key>icon_samll_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,946},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>icon_shua_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,731},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>icon_shua_fenshe.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,923},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>icon_shua_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,816},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>icon_shua_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,731},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>icon_shua_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,816},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>icon_shua_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,716},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>icon_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,625},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>icon_text_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,901},{73,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,38}}</string>
                <key>sourceSize</key>
                <string>{73,38}</string>
            </dict>
            <key>icon_text_forum.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,302},{74,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,38}}</string>
                <key>sourceSize</key>
                <string>{74,38}</string>
            </dict>
            <key>icon_text_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,874},{73,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,40}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
            <key>icon_text_paihan.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,936},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>icon_yun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,750},{104,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,68}}</string>
                <key>sourceSize</key>
                <string>{104,68}</string>
            </dict>
            <key>img_text_activityrule.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,952},{124,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,36}}</string>
                <key>sourceSize</key>
                <string>{124,36}</string>
            </dict>
            <key>img_text_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,842},{214,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,64}}</string>
                <key>sourceSize</key>
                <string>{214,64}</string>
            </dict>
            <key>img_text_cg.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,893},{134,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,57}}</string>
                <key>sourceSize</key>
                <string>{134,57}</string>
            </dict>
            <key>img_text_cgyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,573},{186,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,50}}</string>
                <key>sourceSize</key>
                <string>{186,50}</string>
            </dict>
            <key>img_text_dlyj.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,521},{189,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,50}}</string>
                <key>sourceSize</key>
                <string>{189,50}</string>
            </dict>
            <key>img_text_gamehelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{214,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,65}}</string>
                <key>sourceSize</key>
                <string>{214,65}</string>
            </dict>
            <key>img_text_gamepaihan.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,775},{215,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,65}}</string>
                <key>sourceSize</key>
                <string>{215,65}</string>
            </dict>
            <key>img_text_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,820},{121,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,33}}</string>
                <key>sourceSize</key>
                <string>{121,33}</string>
            </dict>
            <key>img_text_linqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,901},{77,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,33}}</string>
                <key>sourceSize</key>
                <string>{77,33}</string>
            </dict>
            <key>img_text_mygift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,174},{126,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{126,36}</string>
            </dict>
            <key>img_text_playrule.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,908},{124,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,36}}</string>
                <key>sourceSize</key>
                <string>{124,36}</string>
            </dict>
            <key>img_tx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,644},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>img_tx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,908},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
            <key>img_tx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,625},{98,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,104}}</string>
                <key>sourceSize</key>
                <string>{98,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>super_magic.png</string>
            <key>size</key>
            <string>{1088,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f2615561af8ae1fb5bc06415cbfd7f5:1100d7f3752418eee2852338c7bf4583:d5aded6e075467f7d9c2a4e4222ba23e$</string>
            <key>textureFileName</key>
            <string>super_magic.png</string>
        </dict>
    </dict>
</plist>
