<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_dialog2_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,195},{152,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,130}}</string>
                <key>sourceSize</key>
                <string>{152,130}</string>
            </dict>
            <key>bg_dialog_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,403},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>bg_dialog_mark_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,270},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,42}}</string>
                <key>sourceSize</key>
                <string>{28,42}</string>
            </dict>
            <key>bg_dialog_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,253},{134,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,166}}</string>
                <key>sourceSize</key>
                <string>{134,166}</string>
            </dict>
            <key>bg_dialomg_content.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,383},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>bg_my_top_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,129},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>bg_title_dialog_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,204},{30,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{30,64}</string>
            </dict>
            <key>bottom_img_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{234,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,148}}</string>
                <key>sourceSize</key>
                <string>{234,148}</string>
            </dict>
            <key>bottom_srt_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,125}}</string>
                <key>sourceSize</key>
                <string>{640,125}</string>
            </dict>
            <key>btn_blue_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,393},{37,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,64}}</string>
                <key>sourceSize</key>
                <string>{37,64}</string>
            </dict>
            <key>btn_green_big_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,327},{50,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,66}}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
            <key>btn_home_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,371},{146,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,68}}</string>
                <key>sourceSize</key>
                <string>{146,68}</string>
            </dict>
            <key>btn_orange_big_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,315},{49,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,66}}</string>
                <key>sourceSize</key>
                <string>{49,66}</string>
            </dict>
            <key>btn_orange_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,129},{37,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,64}}</string>
                <key>sourceSize</key>
                <string>{37,64}</string>
            </dict>
            <key>default_avater.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,315},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>dialog_content_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{420,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,2}}</string>
                <key>sourceSize</key>
                <string>{420,2}</string>
            </dict>
            <key>hand_1_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,195},{101,110}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>hand_2_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,204},{91,109}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{91,109}}</string>
                <key>sourceSize</key>
                <string>{93,111}</string>
            </dict>
            <key>home_btn_play_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,327},{74,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,105}}</string>
                <key>sourceSize</key>
                <string>{74,105}</string>
            </dict>
            <key>icon_back_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,314},{29,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,25}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>icon_big_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,380},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>icon_chose_img_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,383},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>icon_closed_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,307},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>icon_home_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,380},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,25}</string>
            </dict>
            <key>icon_small_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,403},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>icon_top1_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,403},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>icon_top2_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{36,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,52}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>icon_top3_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,403},{34,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,52}}</string>
                <key>sourceSize</key>
                <string>{34,52}</string>
            </dict>
            <key>icon_voice_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,341},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>icon_voice_zero_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,415},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>img_avater_mask_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,327},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>img_cloud_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,371},{130,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,65}}</string>
                <key>sourceSize</key>
                <string>{130,65}</string>
            </dict>
            <key>img_flower_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,395},{51,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,24}}</string>
                <key>sourceSize</key>
                <string>{51,24}</string>
            </dict>
            <key>img_light_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{200,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,139}}</string>
                <key>sourceSize</key>
                <string>{200,139}</string>
            </dict>
            <key>img_lose_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{208,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,191}}</string>
                <key>sourceSize</key>
                <string>{208,191}</string>
            </dict>
            <key>img_teng_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,204},{107,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,22}}</string>
                <key>sourceSize</key>
                <string>{107,22}</string>
            </dict>
            <key>img_win_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,129},{203,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,191}}</string>
                <key>sourceSize</key>
                <string>{203,191}</string>
            </dict>
            <key>text_play_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,322},{215,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,47}}</string>
                <key>sourceSize</key>
                <string>{215,47}</string>
            </dict>
            <key>top_logo_wzq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{372,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,122}}</string>
                <key>sourceSize</key>
                <string>{372,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_wzq.png</string>
            <key>size</key>
            <string>{999,441}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39df73348418cd06a23aa183f589592f:aa52595193bea88dd0089bc96bb1c93b:cc81c33547e41c293c059298d5c2c851$</string>
            <key>textureFileName</key>
            <string>game_wzq.png</string>
        </dict>
    </dict>
</plist>
